/* -------------------- GLOBAL STYLES BEGINING -------------------- */
body{
    font-family: 'Cairo', sans-serif;
    margin: 0;
}

a{
    color: #000;
    text-decoration: none;
}
a:hover{
    color: #ef2b2c;
}
.black-lg-title{
    color: #000;
    font-size: 2.5rem;
}
.white-lg-title{
    color: #fff;
    font-size: 2.5rem;
}
.black-lg-heading{
    color: #000;
    font-size: 2.25rem;
}
.white-lg-heading{
    color: #fff;
    font-size: 2.25rem;
}
.black-md-heading{
    color: #000;
    font-size: 1.5rem;
    font-weight: 400;
}
.white-md-heading{
    color: #fff;
    font-size: 1.5rem;
}
.black-sm-heading{
    color: #000;
    font-size: 1rem;
}
.white-sm-heading{
    color: #fff;
    font-size: 1rem;
}
.bottom-gray-line{
    border-bottom: 1px solid #ccc;
}

/* --------------------- GLOBAL STYLES ENDING --------------------- */

/* -------------------- NAVIGATION BAR BEGINING -------------------- */
#navigation-bar{
    background-color: white;
    height: 7.5rem; width: 100%;
    position: fixed;
    top: 0;
    transition: 0.5s;
}

/* JDM logo */
.jdm-logo-container {
    background-color: #fff;
    border: 0.5px solid #ccc;
    display: inline-block;
    height: 7rem; width: 7rem;
    margin-left: 4rem;
    padding: 0.8rem;
    position: relative;
    z-index: 5;
}
.jdm-logo {
    height: 7rem; width: 7rem;
}

/* Nav-Bar (Cars-sideview) */
.nav-bar-car-models-container {
    display: inline-block;
    margin-left: 5px;
    position: relative;
    top: -16px; left: 24px;
    text-align: center;
}
.nav-bar-car-models-container:hover {
    border-bottom: 2px solid #ef2b2c;
}
.nav-bar-car-models-sideview {
    height: 2.2rem;
}
.nav-bar-links {
    color: black;
    float: right;
    font-size: 1rem;
    /* For controling red bottom border below link */
    height: 4.9rem;
    position: relative;
    text-decoration: none;
    top: 2.5rem; right: 4rem;
}
.nav-bar-links:nth-of-type(2) {
    margin-left: 1.2rem;
}
.nav-bar-links:hover {
    border-bottom: 2px solid #ef2b2c;
    color: #ef2b2c;
}

/* Nav-Bar (Shop/Dealer/Menu) */
.nav-bar-menu-option {
    border-left: 2px solid #ccc;
    color: black;
    float: right;
    font-size: 2rem;
    margin-left: 0.8rem;
    padding-left: 0.8rem;
    position: relative;
    top: 1.6rem; right: 4rem;
}
.nav-bar-menu-option:hover {
    color: #ef2b2c;
}
#nav-menu-dropdown-large-display {
    /* background-color: #ef2b2c; */
    position: relative;
    top: -18px;

    /* Animation to hide */
    /* Hide the element content, while height = 0 */
    overflow: hidden; 
    height: 0;
    opacity: 0;
    transition: height 0ms 400ms, opacity 400ms 0ms;
}

/* Showing Drop down menu on hover */
#nav-bar:hover #nav-menu-dropdown-large-display {
    /* Animation to show */
    height: 60vh; opacity: 1;
    transition: height 0ms 0ms, opacity 600ms 0ms;
}

/* Dropdown Menu */
#nav-menu-dropdown-large-display{
    align-items: center;
    column-gap: 2rem;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    text-align: center;
}
.dropdown-car-img-container{
    max-width: 30rem;
}
.dropdown-car-img{
    width: 100%;
}
.dropdown-car-details-container{
    width: 15rem;
    text-align: left;
}

/* --------------------- NAVBAR RESPONSIVE --------------------- */

@media (max-width:1023px) {
    #nav-bar {
        display: none;
    }
}

/* --------------------- NAVIGATION BAR ENDING --------------------- */

#landing-section{
    /* Since top bar is fixed and will be hidden on scrolling, so I am adding this space to make sure content below is visible*/
    padding-top: 8.7rem;
    height: 100vh;
    background-color: lightcoral;
}
#models-section{
    height: 100vh;
    background-color: lightskyblue;
}
#dealer-section{
    height: 100vh;
    background-color: lightgreen;
}
#jdm-social-section{
    height: 100vh;
    background-color: khaki;
}
#jdm-bottom-navigation-menu{
    height: 100vh;
    background-color: plum;
}