/* -------------------- NAVIGATION BAR BEGINING -------------------- */

#navigation-bar{
    background-color: #fff;
    box-shadow: 0 1px 4px rgb(141, 141, 141);
    height: 7rem; width: 100%;
    max-width: 1920px;
    position: fixed;
    top: 0;
    transition: 0.5s;
    z-index: 10;
}

/* JDM logo */
.jdm-logo-container {
    background-color: #fff;
    border: 0.5px solid #ccc;
    display: inline-block;
    height: 8rem; width: 8rem;
    margin-left: 4rem;
    padding: 0.8rem;
    position: relative;
    z-index: 15;
}
.jdm-logo {
    width: 100%;
}

/* NAV BAR CAR IMAGE LINKS (For Large Displays) */
.nav-bar-car-models-container {
    display: inline-block;
    margin-left: 5px;
    padding-bottom: 16px;
    position: relative;
    top: 20px; left: 24px;
    text-align: center;
}
.nav-bar-car-models-container:hover {
    border-bottom: 2px solid #ef2b2c;
}
.nav-bar-car-models-image {
    height: 2.2rem;
}

/* NAV BAR SHOP AND DEALER LINKS (For Large Displays) */
.nav-bar-links {
    float: right;
    margin-left: 1rem;
    /* For controling red bottom border below link */
    height: 4.5rem;
    position: relative;
    top: 2.5rem; right: 4rem;
}
/* Adding red bottom border to the shop and dealer links */
.nav-bar-links:hover {
    border-bottom: 2px solid #ef2b2c;
}

/* NAV BAR DROP DOWN MENU */
#nav-menu-dropdown-large-display {
    align-items: center;
    /* background-color: #fff; */
    background-image: url("/images/Dropdown\ Background\ Image.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    column-gap: 3rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    top: -15px;
    text-align: center;

    /* Animation to hide */
    /* Hide the element content, while height = 0 */
    overflow: hidden; 
    height: 0;
    opacity: 0;
    transition: height 0ms 400ms, opacity 400ms 0ms;
}
/* Showing Drop down menu on hover */
#nav-bar:hover #nav-menu-dropdown-large-display {
    /* Animation to show */
    height: 60vh; opacity: 1;
    transition: height 0ms 0ms, opacity 600ms 0ms;
}

/* NAV BAR DROP DOWN MENU CONTENTS */
.dropdown-image-container{
    max-width: 30rem;
}
.dropdown-image{
    width: 100%;
}
.dropdown-car-details-container{
    width: 18rem;
    text-align: left;
}
.dropdown-options-dealer-details{
    max-width: 22rem;
}

/* SIDE BAR TOGGLE BUTTON */
#side-bar-button-open{
    position: absolute;
    top: 25%; right: 4%;
    z-index: 15;
}
#side-bar-button-open:hover{
    color: #ef2b2c;
}
#side-bar-button-close{
    color: #000;
    font-size: 2rem;
    position: absolute;
    top: 1%; right: 8%;
    z-index: 25;
}
#side-bar-button-close:hover{
    color: #ef2b2c;
}

/* SIDE BAR MENU */
#side-bar{
    /* background-color: #fff; */
    background-image: url("/images/Dropdown\ Background\ Image.png");
    box-sizing: border-box;
    background-position: right;
    height: 100%;
    padding: 8% 4% 4%;
    position: fixed;
    right: 0; top: 0;
    transform: translateX(100vw);
    transition: transform 250ms ease-in-out;
    width: 50vw;
    z-index: 20;
}
#side-bar-container{
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto auto;
}
.side-bar-car-models-container{
    text-align: center;
    padding: 4%;
}
.side-bar-car-models-image{
    width: 100%;
}
.side-menu-options-container{
    margin-top: 10%;
}
.side-menu-options{
    display: block;
    margin: 3% 6%;
}

/* --------------------- NAVBAR RESPONSIVE --------------------- */

@media(min-width:1023px) {
    #side-bar-button-open{
        display: none;
    }
    #side-bar{
        display: none;
    }
}

@media (max-width:1023px) {
    #navigation-bar{
        height: 5.5rem;
    }
    #nav-bar {
        display: none;
    }
    .jdm-logo-container {
        height: 6.5rem; width: 6.5rem;
        margin-left: 1.5rem;
        padding: 0.4rem;
    }
    #side-bar{
        display: block;
    }
}

@media (max-width:767px) {
    #navigation-bar{
        height: 4.2rem;
    }
    .jdm-logo-container {
        height: 5rem; width: 5rem;
        margin-left: 1rem;
        padding: 0.2rem;
    }
}

@media (max-width:500px) {
    #side-bar{
        width: 100vw;
    }
    #side-bar-container{
        margin-top: 15%;
    }
    .side-bar-car-models-container{
        text-align: center;
    }
}

/* --------------------- NAVIGATION BAR ENDING --------------------- */