/* -------------------- GLOBAL STYLES BEGINING -------------------- */
body{
    font-family: 'Cairo', sans-serif;
    margin: 0 auto;
    max-width: 1920px;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

main{
    height: 100%;
}

a{
    color: #000;
    text-decoration: none;
}
a:hover{
    color: #ef2b2c;
}
.black-lg-title{
    color: #000;
    font-size: 3rem;
    font-weight: 700;
}
.white-lg-title{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}
.black-lg-text{
    color: #000;
    font-size: 2.25rem;
    font-weight: 700;
}
.white-lg-text{
    color: #fff;
    font-size: 2.25rem;
    font-weight: 700;
}
.black-md-text{
    color: #000;
    font-size: 1.5rem;
    font-weight: 500;
}
.white-md-text{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}
.black-sm-text{
    color: #000;
    font-size: 1.25rem;
}
.white-sm-text{
    color: #fff;
    font-size: 1.25rem;
}
.black-xsm-text{
    color: #000;
    font-size: 1rem;
}
.white-xsm-text{
    color: #fff;
    font-size: 1rem;
}

.bold-text{
    font-weight: 600;
}

.top-gray-line{
    border-top: 1px solid #ccc;
}
.bottom-gray-line{
    border-bottom: 1px solid #ccc;
}

/* --------------------- GLOBAL STYLES ENDING --------------------- */

#landing-section{
    /* Nav bar height is 7rem and it has z-index of 10
    So in order to make sure that the main section and its contents are not hidden below the nav bar, this padding top of 7rem is being added. 
    To make it work dynamically, this value will be different for different screen sizes. */
    padding-top: 7rem;
    height: 100vh;
    background-color: lightcoral;
}

@media (max-width:1023px) {
    #landing-section{
        /* Nav bar height is 5.5rem*/
        padding-top: 6rem;
    }
}
@media (max-width:767px) {
    #landing-section{
        /* Nav bar height is 4.2*/
        padding-top: 5rem;
    }
}

#models-section{
    height: 100vh;
    background-color: lightskyblue;
}
#dealer-section{
    height: 100vh;
    background-color: lightgreen;
}
#jdm-social-section{
    height: 100vh;
    background-color: khaki;
}
#jdm-bottom-navigation-menu{
    height: 100vh;
    background-color: plum;
}

