/* -------------------- GLOBAL STYLES BEGINING -------------------- */

body{
    font-family: 'Cairo', sans-serif;
    margin: 0 auto;
    max-width: 1920px;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

main{
    height: 100%;
}

a{
    color: #000;
    text-decoration: none;
}
a:hover{
    color: #ef2b2c;
    text-decoration: none;
}
.black-lg-title{
    color: #000;
    font-size: 3rem;
    font-weight: 700;
}
.white-lg-title{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}
.black-lg-text{
    color: #000;
    font-size: 2.25rem;
    font-weight: 700;
}
.white-lg-text{
    color: #fff;
    font-size: 2.25rem;
    font-weight: 700;
}
.black-md-text{
    color: #000;
    font-size: 1.5rem;
    font-weight: 500;
}
.white-md-text{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
}
.black-sm-text{
    color: #000;
    font-size: 1.25rem;
}
.white-sm-text{
    color: #fff;
    font-size: 1.25rem;
}
.black-xsm-text{
    color: #000;
    font-size: 1rem;
}
.white-xsm-text{
    color: #fff;
    font-size: 1rem;
}

.bold-text{
    font-weight: 600;
}

.top-gray-line{
    border-top: 1px solid #ccc;
}
.bottom-gray-line{
    border-bottom: 1px solid #ccc;
}

.red-text-highlight-hover:hover{
    color: #ef2b2c;
}

/* --------------------- GLOBAL STYLES ENDING --------------------- */