@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?k2oazh');
  src:  url('fonts/icomoon.eot?k2oazh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?k2oazh') format('truetype'),
    url('fonts/icomoon.woff?k2oazh') format('woff'),
    url('fonts/icomoon.svg?k2oazh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-carwash:before {
  content: "\e900";
}
.icon-engine:before {
  content: "\e901";
}
.icon-paint:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-bag:before {
  content: "\e904";
}
.icon-cars:before {
  content: "\e905";
}
.icon-configure:before {
  content: "\e906";
}
.icon-honda:before {
  content: "\e907";
}
.icon-map:before {
  content: "\e908";
}
.icon-mazda:before {
  content: "\e909";
}
.icon-mitsubishi:before {
  content: "\e90a";
}
.icon-nissan:before {
  content: "\e90b";
}
.icon-steering:before {
  content: "\e90c";
}
.icon-subaru:before {
  content: "\e90d";
}
.icon-toyota:before {
  content: "\e90e";
}
